{% extends 'layout.html' %}
{% block body %}

<p><strong><span style="text-decoration: underline;">{{ listing.list_title }}</span></strong></p>
{{ listing.list_location }}
<br><br>
£{{ listing.list_price  }}

{% for detail in listing_details %}
<br><br>
Category:{{ detail.detail_category }}
<br><br>
{{ detail.detail_description }}

{% endfor %}

<br><br>
<form action='{{url_for('add_detail', id=listing.id) }}'>

<input type=submit value="Add Details">

</form
<br>
<form action='{{url_for('delete_detail', id=listing.id) }}'>

<input type=submit value="Delete Details">

</form
<br>

{% endblock body %}                   
