{% extends 'layout.html' %}
{% block body %}

<p>See our latest listings!</P>

<style>
.listings {
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}
</style>


{% for listing in all_listing %}

<div class="listings">

<p><strong><span style="text-decoration: underline;">{{ listing.list_title }}</span></strong></p>
{{ listing.list_location }}
<br><br>
£{{ listing.list_price  }}
<br><br>
<form action='{{url_for('delete', id=listing.id) }}'>

<input type=submit value="Delete">

</form>

<form action='{{url_for('update', id=listing.id) }}'>

<input type=submit value="Update">

</form>

</div>

{% endfor %}

</p>

{% endblock body %}
