{% extends 'layout.html' %}
{% block body %}
<h1>Edit A Listing</h1>
<form action='' method='POST'>
        {{ form.hidden_tag() }}
	{{ form.list_title.label }} {{ form.list_title }}<br>
	{% if form.list_title.errors %}
        {% for error in form.list_title.errors %}
        {{ error }}<br>
        {% endfor %}
        {% endif %}
        <br><br>
	{{ form.list_location.label }} {{ form.list_location }}<br>
	{% if form.list_location.errors %}
        {% for error in form.list_location.errors %}
        {{ error }}<br>
        {% endfor %}
        {% endif %}
        <br><br>
	{{ form.list_price.label }} {{ form.list_price }}<br>
	{% if form.list_price.errors %}
        {% for error in form.list_price.errors %}
        {{ error }}<br>
        {% endfor %}
        {% endif %}
        <br><br>
        {{ form.submit }}
</form>
{% endblock body %}
